---
interface Props {
  certificates: any
}

const { certificates } = Astro.props
---

<ul class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:gap-8">
  {
    certificates.map(
      (certificate: {
        data: {
          link: string | URL | null | undefined
          title: string
          description: string
          earnedSkills: string[]
        }
      }) => (
        <li>
          <a href={certificate.data.link} target="_blank" rel="noopener noreferrer external">
            <div class="rounded-lg bg-accent/10 overflow-hidden group flex flex-col">
              <div class="p-4 flex flex-col">
                <div class="group-hover:text-accent flex items-center">
                  <span class="text-xl font-bold">{certificate.data.title}</span>
                  <i class="ml-2 iconfont icon-external-link" />
                </div>
                <p class="mt-2 text-sm line-clamp-2">{certificate.data.description}</p>
              </div>
              <div class="flex flex-wrap gap-2 mt-4 px-4 pb-4">
                {certificate.data.earnedSkills.map((c) => (
                  <div class="relative group flex items-center">
                    <div class="absolute -z-1 inset-0 rounded-lg bg-accent/10 group-hover:transition group-hover:bg-accent/20 group-hover:scale-105" />
                    <div class="px-2.5 py-2 text-sm flex items-baseline gap-1 select-none text-black bg-white rounded-lg shadow-md">
                      <span>{c}</span>
                    </div>
                  </div>
                ))}
              </div>
            </div>
          </a>
        </li>
      ),
    )
  }
</ul>
